body {
  background-image: url("images/levi_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  margin-left: 50px;
  overflow: auto;
  width: 900px;
}

header {
  margin-top: 150px;
  width: 800px;
  text-align: left;
}

header p {
  line-height: 1.7;
}

header span {
  display: inline-block;
}

.socialImg {
  height: auto;
  width: 50px;
  border-radius: 10px;
  text-decoration: none;
}

.socialLinks {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  text-decoration: none;
}

footer {
  position: relative;
  bottom: 0;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: purple;
}

col {
  padding-right: 42px;
  padding-bottom: 30px;
}

button {
  border: none;
  text-decoration: none;
  background: none;
  outline: none;
  cursor: pointer;
}

span.hidden {
  display: none;
}

.ytEmbed {
  width: 426px;
  height: 240px;
}

.spotifyEmbed {
  width: 426px;
  height: 380px;
}

.Embeds {
  object-fit: cover;
}
